:root{
    --Swans-Down: #D1EDE1;
    --Monte-Carlo: #7BC5AE;
    --Observatory: #028C6A;
}
body{
    font-family: 'IBM Plex Mono', monospace;
    color: #fefefe;
    background-color: var(--Observatory);
}

.App{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    .Create{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 13vw;
        border: solid 1px #7BC5AE;
        padding: 50px;
        border-radius: 30px;
        @media screen and (min-width: 1919px) {
            margin-top: 1vw;
        }
        @media screen and (max-height: 1000px) {
            margin-top: 2vw;
        }
    }
    .Settings{
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .Password{
        font-size: 100px;
        margin-bottom: 6vw;
        @media screen and (min-width: 1919px) {
            margin-top: 6vw;
            margin-bottom: 1vw;
        }
        @media screen and (max-height: 1000px) {
            margin-top: 6vw;
            margin-bottom: 0vw;
        }
    }
    button{
        min-height: 8vw;
        max-height: fit-content;
        padding: 20px 70px;
        font-size: 30px;
        border-radius: 20px;
        margin-bottom: 60px;
    }
    .Length, .Uppercase, .Symbols, .Numbers{
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    p{
        color: var(--Monte-Carlo);
    }
    @media screen and (max-width: 1440px) {
        .Password{
            font-size: 70px;
        }       
    }
    @media screen and (max-width: 900px) {
        .Password{
            font-size: 42px;
        }        
    }
    @media screen and (max-width: 500px) {
        justify-content: space-between;
        .Password{
            margin-top: 100px;
            font-size: 30px;
        }
        .Create{
            width: 100%;
            border-radius: 0;
            border: none;
        } 
    }
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: var(--Swans-Down);
    border: 2px solid var(--Observatory);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:checked{
        &::after{
            content: "•";
            font-size: 20px;
            color: var(--Observatory);
        }
    }
    &::after{
        content: "•";
        font-size: 15px;
        color: var(--Swans-Down);
    }
}

input[type="range"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--Swans-Down);
    border: 2px solid var(--Observatory);
    border-radius: 5px;
    cursor: pointer;
    display: block;
    height: 10px;
    &::-webkit-slider-runnable-track{
        -webkit-appearance: none;
        height: 10px;
    }
    &::-moz-range-track{
        -moz-appearance: none;
        height: 10px;
    }
    &::-ms-track{
        appearance: none;
        height: 10px;
    }
    &::-webkit-slider-thumb{
        -webkit-appearance: none;
        height: 10px;
        width: 10px;
        border-radius:50px;
        cursor: pointer;
        border: none;
        background-color:var(--Monte-Carlo)
    }
    &::-moz-range-thumb{
        -moz-appearance: none;
        height: 15px;
        width: 15px;
        border-radius:50px;
        cursor: pointer;
        border: none;
        background-color:var(--Monte-Carlo)
    }
    &::-ms-thumb{
        appearance: none;
        height: 15px;
        width: 15px;
        border-radius:50px;
        cursor: pointer;
        border: none;
        background-color:var(--Monte-Carlo)
    }
}
a{
    -webkit-tap-highlight-color: transparent;
}